<app-modal [modalID]="ModalIds.CREATE_TASK">
  <span heading>Create New Task</span>

  <form #taskFormElement="ngForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="taskTitle" class="form-label"> Title <span class="text-danger">*</span> </label>
      <input
        type="text"
        class="form-control"
        id="taskTitle"
        name="title"
        [(ngModel)]="createTaskDto.title"
        required
        maxlength="150"
        #titleInput="ngModel"
        [class.is-invalid]="titleInput.invalid && titleInput.touched"
      />
      @if (titleInput.invalid && titleInput.touched) {
      <div class="invalid-feedback d-block">Task title is required (max 150 characters)</div>
      }
    </div>

    <div class="mb-3">
      <label for="taskDescription" class="form-label">Description</label>
      <textarea
        class="form-control"
        id="taskDescription"
        name="description"
        [(ngModel)]="createTaskDto.description"
        rows="3"
      ></textarea>
    </div>

    <div class="mb-3">
      <label for="taskDueDate" class="form-label">Due Date</label>
      <input
        type="date"
        class="form-control"
        id="taskDueDate"
        name="dueDate"
        [(ngModel)]="createTaskDto.dueDate"
      />
    </div>
  </form>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancel</button>

    <button
      type="submit"
      class="btn btn-success"
      (click)="onSubmit()"
      [disabled]="!taskFormElement.valid"
    >
      Create Task
    </button>
  </div>
</app-modal>
