<app-modal [modalID]="ModalIds.CREATE_TASK">
  <span heading>Create New Task</span>

  <form #taskFormElement="ngForm" (ngSubmit)="onSubmit()">
    <app-task-form-fields [formData]="createTaskDto" [showStatus]="false" />
  </form>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancel</button>

    <button
      type="submit"
      class="btn btn-success"
      (click)="onSubmit()"
      [disabled]="!taskFormElement.valid"
    >
      Create Task
    </button>
  </div>
</app-modal>
