.task-card {
  transition: all 0.2s ease-in-out;
}

.task-card.is-editing {
  border: 2px solid #007bff;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.2);
  background-color: #f8f9fa;
  padding: 10px;
  margin-bottom: 15px !important;
}

.task-card.done-bg {
  background-color: #e9f7ee;
}
