<app-modal modalId="projectModal" #modal>
  <div class="modal-header">
    <h5 class="modal-title">Create New Project</h5>
    <button type="button" class="btn-close" (click)="onCancel()"></button>
  </div>
  <div class="modal-body">
    @if (isOpen()) {
    <app-project-form [formData]="projectForm"></app-project-form>
    }
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="onSubmit()" [disabled]="!canSubmit">
      Create Project
    </button>
  </div>
</app-modal>
